git+https://github.com/Rapptz/discord.py@rewrite#egg=discord.py[voice]
asyncio==3.4.3
aiohttp
websockets
chardet
https://github.com/praw-dev/praw/archive/master.zip
gdata
atom
https://github.com/e-six/esix-python/archive/v1.3.1.zip
rule34
